.pol-room-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyl {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform  0.5s ease-out; /* Smooth transition */

}

.vinyl:hover {
    cursor: pointer;
    animation: rotating 5s linear infinite forwards;
}@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.vinyl2{
    scale: 0.8;
}.vinyl3{
    scale: 0.6;
}