.map {
    /* Ensure the map takes up the full size of its container */
    inset: 0;
}
.leaflet-container {
    height: 100svh;
    width: 100vw;
    background-color: white;
  }

.groupe1 {
    /* width: 60px; 
    height: auto; */
}.groupe2 {
}


.bloc {
    /* Styles for each block */
}

/* ... other styles ... */
