.map {
    /* Ensure the map takes up the full size of its container */
    inset: 0;
}

.leaflet-container {
    height: 120vh;
    width: 120vw;
    /* margin: 10vh 10vw; */
    background-color: rgb(241, 122, 122);
}

.groupe1 {
    /* width: 60px; 
    height: auto; */
}

.groupe2 {}


.bloc {
    /* Styles for each block */
}

/* ... other styles ... */