.minimap-map{
    opacity: 75%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 10px;
    height: 200px;
    width: 200px;
}

.minimap-marker {
    position: fixed;
    z-index: 500;
    top: 95px;
    left: 95px;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.minimap-info{
    position: fixed;
    z-index: 500;
    top: 170px;
}