.banner {
    width: 100vw;
    height: 100vh;
    color: black;
    text-align: center;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    margin: 0;
    padding: 32px;
    color: white;
    font-weight: bolder;
}