/* Section */
section {
    height: 100%;
    width: 100%;
}

/* Banner */
.banner__content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
@media (max-width: 800px) {
    .banner__content {
        padding: 0;
    }
}

/* Banner image */
.banner-img {
    width: 100%;
    height: auto;
}
